@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
$primarycolor:#ffbd5a;
:root{
    --primary-color:#ffbd5a;
   
    --secondary-color:#000000;
    --succes-color:#38c976;
    --warring-color:#ffbd5a;
    --erorr-color:#ff6262;
    --disable-color:#b3b8c5;
    --border-radius:25px;
    --border-radius-sec:15px;
    --font-primary:'Poppins', sans-serif;
}
/* bootstrap overwrite */
.dropup{
    position: static;
}
/* end bs ow*/
a:active{
    background-color: var(--primary-color );
}
.StickyMenu{
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 9999;
    bottom: 0;
    border-top-left-radius: 15px ;
    border-top-right-radius: 15px;
    box-shadow: 0px 20px 50px gray ;
    .row{
        height: 75px;
        text-align: center;
        align-items: center;
        .home{
            flex-basis: 20%;
        }
        .home:hover{
            cursor: pointer;
        }
        .search{
            flex-basis: 20%;
        }
        .whishList{
            flex-basis: 20%;
        }
        .cart{
            flex-basis: 20%;
        }
        .account{
            flex-basis: 20%;

        }
    }
    @media (min-width:768px) {
        visibility: hidden;
    }
}

.profile__photo{
    width: 100%;
    height: auto;
    border-radius:50%;
}
body{
    font-family: var(--font-primary);
    box-sizing: border-box;
    background-color: var(--bs-gray-100);
    padding: 25px 0 50px 0;
}
.bold{
    font-weight: bold;
}
.navigation{
    height: 50px;
}
header {
    .container-fluid{
        margin-bottom: 1rem;
        h1{
            text-align: center;
        }
    }
}
.searchForm{
    display: flex;
    margin-bottom: 1rem;
    &__searchBox{
        background-color: var(--bs-gray-100);
        height: 40px;
        flex-basis: 90%;
        border: 0px;
        border-radius: var(--border-radius);
    }
    &__searchBox::placeholder{
        padding: 0 20px ;
    }
    &__settings{
        display: flex;
        justify-content: center;
        background-color: white;
        margin-left: 5px;
        max-width: 50px;
        max-height: 50px;
        padding-top: 9px;
        border-radius: var(--border-radius-sec);
        flex-basis: 15%;
        
    }
}
.filters{
    display: flex;
    justify-content:space-around;
    margin: 10px 0;
    .btn{
        border-radius: var(--border-radius-sec);
        background-color: var(--primary-color) ;
        border: 0px;
    }
}
.slider{
    img{
        border-radius: var(--border-radius);
        margin-bottom: 1rem;        
    }
}
.productHighlights{
    &__header{
        display: flex;
        .header__text{
            flex-basis: 80%;
        }
        .header__link{
            flex-basis: 20%;
        }
    }
    &__productList{
        display: flex;
        flex-wrap: wrap;
    }
}
.productList__item{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding:  var(--border-radius-sec) ;
    border-radius: var(--border-radius-sec);
    margin-bottom: 10px;
    .item__image{
        width: 100%;
        border-radius: var(--border-radius-sec);
    }
    .item__name{
        width: 100%;
        font-size: 0.8rem;
        @media (min-width:576px) {
            .item__name{
                font-size: 1rem;
            }
        }
    }
    .item__rating{
        margin: 0.2rem 0;
        width: 100%;
    }
    .item__addToCart{
        width: 100%;
        display: flex;
        flex-direction: column;
        .addToCart__prize{
            
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1rem;
            width: 100%;
        }
        .addToCart__button{
            width: 100%;
            display: flex;
            align-items: center;
            .button__cart{
                background-color: darken($primarycolor, 10%);
                color: white;
                border: 0px;
                border-radius: var(--border-radius);
                height: 2rem;
                width: 100%;
            }
            .button__cart:hover{
                background-color: var(--erorr-color);
            }
        }
    }
}
.banner{
    height: auto;
    margin-bottom: 10px;
}
.productList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .productList__left{
        width: 49%;
        flex-basis: 0 auto;
    }
    .productList__right{
        width: 49%;
        flex-basis: 0 auto;
    }
}

/* product.html*/
.product__navigation{
    
    display: flex;
    align-items: center;
    .col-8{
        text-align: center;
    }
    .col-2{
        button{
            width: 100%;
            height: 100%;
        }
        text-decoration: dashed;
    }
}
.product__image{
    width: 100%;
    height: auto;   
}
.product__style{
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    .--size__button{
        background-color: white;
        height: 50px;
        width: 50px;
        border-radius: var(--border-radius);
        margin: 0 5px 0 5px;
        transition: 0.5s;
    }
    .--size__button:first-child{
        margin: 0 5px 0 0;
    }
    .--size__button:last-child{
        margin: 0 0 0 5px;
    }
    .--size__button:active{
        background-color: var(--primary-color);
    }
    .--size__button:hover{
        background-color:var(--primary-color);
        
    }
}
.--description{
    padding: 1rem 1rem 0 1rem;
    background-color: white;
    border-radius: 20px 20px 0 0;
    .button__cart{
        background-color: var(--primary-color);
        border: 0px;
        border-radius: var(--border-radius);
        height: 2rem;
        width: 100%;
    }
}
/* cart.html */

.CartProduct{
    display: flex;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 1rem;
    
    .CartProduct__item-ls{
        margin-right: 5px;
        display: flex;
    }
    .CartProduct__item-rs{
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        justify-content: space-around;
        .CartProduct__name{
            font-weight: 900;
        }
        .CartProduct__pc{
            align-items: flex-end;
            display: flex;
        }
    }
}
.recomended{
    display: flex;
    flex-wrap: nowrap;
    max-height: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    .productList__item{
        flex: 0 0 auto
    }
}
.--checkout{
    display: flex;
    flex-direction: column;
    .subtotal{
        color: #b3b8c5;
        text-align: left;
        padding: 0 15px 15px 15px;
        &__prize{
            text-align: right;
        }
    }
    .delivery{  
        color: #b3b8c5;
        text-align: left;
        padding: 0 15px 0 15px;
        &__prize{
            text-align: right;
        }
    }
    .subtotal__cart{
        font-weight: 900;
        text-align: left;
        padding: 0 15px 0 15px;
        &__prize{
            text-align: right;
        }
    }
    .checkout___button{
        width: 100%;
        padding: 0 15px 15px 15px;
        button{
            width: 100%;
            background-color: var(--primary-color);
            border: 0px;
            transition: 0.6s;
        }
        button:hover{
            background-color: #ff6262;
        }
        
    }
}
/* profile.html*/
.account__info{
    background-color: #ffffff;
    padding: 25px;
 
    border-radius: var(--border-radius);
    .info__user{
        margin-bottom: 2rem;
    }
    .acc__name{
        text-align: center;
    }
}
.my__orders,.notifications,.gifts,.address__book,.payments__method,.contact,.social{
    text-align: left;
    height: 50px;
    font-weight: 500;
    .col-9{
        text-align: left;
    }
}